:root {
  --blue600: #4a6572;
  --blue700: #344955;
  --blue800: #232f34;
  --orange500: #f9aa33;

}

body {
  background-color: var(--blue800);
  font-family: 'Michroma', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--orange500);
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  word-spacing: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Michroma', sans-serif;
  font-weight: 300;
  color: white;
}

h4 {
  border: 2px solid #f9aa34;
  padding: 1em;
}

li {
  color: white;
  font-style: italic;
}

li>a {
  color: var(--orange500);
  text-decoration: underline;
  text-underline-position: under;
}

p {
  line-height: 25px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

a {
  color: #fd9725;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

header {
  background-color: #232f34;
}

#row-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#section-topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
  font-family: 'Michroma', sans-serif;
}


#section-topbar a {
  font-size: 18px;
  font-weight: bold;
}

#topbar-inner {
  background: transparent;
  line-height: 0;
  text-align: center;
  transition: 0.2s;
}

#logo {
  transform: rotate(0deg);
  transition: transform .8s ease-in-out;
}

#logo:hover {
  transform: rotate(-360deg);
  transition: transform .8s ease-in-out;
}

.logo,
.dropdown {
  width: 100%;
  transition: 0.2s;
}

.certification-cards {
  display: flex;
  flex-flow: wrap;
}

.certification-cards>div {
  margin: 2em auto;
}

.certification-cards>div>a {
  color: white;
}

.certification-cards>div>a:hover {
  color: var(--blue600);
}

.certification {
  width: 100px;
}

p.certification-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-flow: wrap;
  color: gray;
  font-size: 14px;
  font-weight: bold;
}

#section-topbar ul#nav {
  transition: 0.2s;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  /* For IE, the outcast */
  zoom: 1;
  *display: inline;
}

#section-topbar ul#nav>li {
  display: block;
  float: left;
  padding: 0;
}

#section-topbar ul#nav a {
  font-style: normal;
  color: white;
  display: block;
  font-family: 'Michroma', sans-serif;
  text-decoration: none;
  padding: 18px 20px 18px 20px;
}

#section-topbar ul#nav a:focus {
  background: #4a6572;
  text-decoration: none;
}

#section-topbar ul#nav a:hover {
  background: #4a6572;
  text-decoration: none;
}

#section-topbar ul#nav .active a {
  color: white !important;
  background: var(--blue700);
}

#section-topbar ul#nav .active a:hover {
  background: var(--blue700);
  color: white !important;
}

#section-topbar i {
  font-size: 25px;
}

#mobile-menu {
  background: #f9aa33;
  position: fixed;
  bottom: 0;
  left: 0;
  color: black;
  display: none;
}

#mobile-menu ul#nav>li {
  width: 100%;
}

.button {
  position: relative;
  top: -30px;
  display: flex;
  justify-content: center;
}

#card-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.icon-button {
  background: #f9aa34;
  border-radius: 50%;
  position: relative;
  top: 30px;
}

.icon-button>i {
  color: #223034 !important;
  margin: 15px 20px;
  font-size: 30px !important;
  padding: 0 !important;
  
}

.yellow-button {
  min-width: 300px;
  text-align: center;
  background: #223034;
  border: 2px solid #f9aa34;
  padding: 40px 10px 10px 10px;
  -webkit-transition: 0.25s all ease-in-out;
  -moz-transition: 0.25s all ease-in-out;
  -o-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
}

.yellow-button:hover {
  background: #f9aa34;
  color: #223034;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.thumbnail {
  padding: 0px;
  background-color: #f9aa34;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.thumbnail>img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 250px;
  width: 100% !important;
}

.details {
  padding: 1em;
}

.details>h5 {
  color: black !important;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
}

.details>p {
  color: var(--blue700);
  text-align: justify;
  font-size: 13px;
}

.link-project {
  background: var(--blue700);
  padding: 5px 10px;
  border: 2px solid var(--blue700);
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.link-project:hover {
  color: #344955;
  background: #f9aa34;
  transition: 0.4s;
}

.project-lang {
  position: absolute;
  top: 226px;
  right: 20px;
}

.project-lang>img {
  width: 50px;
  height: 45px;
  background: white;
  border: 2px solid orange;
  border-radius: 50%;
  padding: 5px;
}

#headerwrap {
  margin-top: 400px;
  padding-top: 140px;
  text-align: center;
  min-height: 500px;
  width: 100%;
}

#headerwrap h1 {
  font-size: 80px;
  color: white;
}

#headerwrap h3 {
  font-size: 20px;
  color: white;
}

.content {
  background: var(--blue700);
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}

.content h5,
p {
  color: white;
}

.content i {
  color: white;
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}

#skillswrap,
#projectswrap {
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}

#skillswrap h5,
p {
  color: white;
}

.projects,
.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects>div,
.skills>div {
  margin: 2em auto;
}

.icon {
  font-size: 60px;
  color: #f9aa34;
}

#copyrights {
  background: #222222;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

#copyrights p {
  margin: 0 0 5px 0;
}

.credits {
  color: #999;
}

.slideanim {
  visibility: hidden;
  visibility: visible\9;
}

.slideanim.slide {
  visibility: visible;
  animation: slide 1s;
}

.slideanim::after {
  content: "";
  display: table;
  clear: both;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 992px) {
  #headerwrap {
    margin-top: 200px;
    margin-bottom: 100px;
  }

  #section-topbar ul#nav a {
    color: black;
  }

  #copyrights {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 13px;
  }

  #headerwrap h1 {
    font-size: 40px;
  }

  #skillswrap h5,
  p {
    font-size: 14px;
  }

  p.certification-details {
    justify-content: center;
  }

}